<% if is_root %>
import uuid
<% endif %>
from dyno import context, parallel<% if not is_root %>, read_cache<% endif %>, write_cache
<% for stmt in import_statements %>
<< stmt >>
<% endfor %>


def lambda_handler(event, aws_context):
<% if is_root %>
    runtime_id = str(uuid.uuid4())
<% else %>
    runtime_id = event["runtimeID"]
    item_key = event["item"]
<% endif %>
    ctx = context(runtime_id)
<% if not is_root %>
    object = read_cache(item_key)
    ctx.register("<< first_input_key >>", object)
<% endif %>
    << first_alias >>("<< first_input_key >>", ctx)
<% for step in parallel_steps %>
    parallel(ctx, "<< step.input_key >>", << step.alias >>)
<% endfor %>
    write_cache(ctx)
    return {
        "statusCode": 200,
        "body": "Successful run",
        "runtimeID": runtime_id,
    }
